In [1]:
# import geopandas as gpd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import os
import seaborn as sns

## LEHD/LODES

### Information

In [ ]:
with open('../data/_etc/lehd/columns.yaml', 'rb') as f:
    lehd_info = yaml.safe_load(f)

### Download data

In [ ]:
def download_lehd_lodes(dataset='od', job_type='JT00', state='in', part='main',
                        segment='S000', year=2019, lodes_version=7,
                        aggregate_bg=False, save=True, overwrite=False):
    outfile = Path(f'../data/_etc/lehd/lodes/{dataset}.parquet')
    assert lodes_version in [6, 7]
    assert dataset in ['od', 'rac', 'wac']
    assert part in ['main', 'aux']
    assert job_type in [f'JT{i:02}' for i in range(6)]
    assert segment in 'S000 SA01 SA02 SA03 SE01 SE02 SE03 SI01 SI02 SI03'.split()
    if outfile.exists() and not overwrite:
        return
    root = 'https://lehd.ces.census.gov/data/lodes'
    fname = {'od': f'{state}_od_{part}_{job_type}_{year}',
             'rac': f'{state}_rac_{segment}_{job_type}_{year}',
             'wac': f'{state}_wac_{segment}_{job_type}_{year}'}[dataset]
    url = f'{root}/LODES{lodes_version}/{state}/{dataset}/{fname}.csv.gz'
    df = pd.read_csv(url).drop(columns='createdate', errors='ignore')
    idx_cols = {'od': ['h_geocode', 'w_geocode'],
                'rac': ['h_geocode'], 'wac': ['w_geocode']}[dataset]
    df = df.astype({col: str for col in idx_cols})
    if aggregate_bg:
        for col in idx_cols:
            df[col] = df[col].str.slice(0, 12)
        df = df.groupby(idx_cols).sum().reset_index()
    if save:
        df.to_parquet(U.mkfile(outfile))
    return df

download_lehd_lodes('od') # t=0:17
download_lehd_lodes('rac') # t=0:05
download_lehd_lodes('wac') # t=0:03

In [3]:
def _disp(df, top=3):
    print('Shape: {}, Memory: {:.1f} MB'.format(df.shape, df.memory_usage(deep=True).sum()/1024**2))
    return df.head(top)
pd.DataFrame.disp = _disp

In [ ]:
def download_lehd_lodes(dataset='od', job_type='JT00', state='in', part='main',
                        segment='S000', year=2019, lodes_version=7,
                        aggregate_bg=False, save=True):
    assert lodes_version in [6, 7]
    assert dataset in ['od', 'rac', 'wac']
    assert part in ['main', 'aux']
    assert job_type in [f'JT{i:02}' for i in range(6)]
    assert segment in 'S000 SA01 SA02 SA03 SE01 SE02 SE03 SI01 SI02 SI03'.split()
    root = f'https://lehd.ces.census.gov/data/lodes'
    fname = {'od': f'{state}_od_{part}_{job_type}_{year}',
            'rac': f'{state}_rac_{segment}_{job_type}_{year}',
            'wac': f'{state}_wac_{segment}_{job_type}_{year}'}[dataset]
    url = f'{root}/LODES{lodes_version}/{state}/{dataset}/{fname}.csv.gz'
    df = pd.read_csv(url).drop(columns='createdate', errors='ignore')
    idx_cols = {'od': ['h_geocode', 'w_geocode'],
                'rac': ['h_geocode'], 'wac': ['w_geocode']}[dataset]
    df = df.astype({col: str for col in idx_cols})
    if aggregate_bg:
        for col in idx_cols:
            df[col] = df[col].str.slice(0, 12)
        df = df.groupby(idx_cols).sum().reset_index()
    if save:
        fpath = U.mkdir(P.data / f'lehd_lodes/{dataset}') / f'{fname}.csv'
        df.to_csv(fpath, index=False)
    return df

## Download data

P.params.set({'LEHD': {'LODES': {
    'geography': {
        'crosswalk': {
            'tabblk2010': '2010 Census Tabulation Block Code',
            'st': 'FIPS State Code',
            'stusps': 'USPS State Code',
            'stname': 'State Name',
            'cty': 'FIPS County Code',
            'ctyname': 'County or County Equivalent Name',
            'trct': 'Census Tract Code',
            'trctname': 'Tract Name, formatted with County and State',
            'bgrp': 'Census Blockgroup Code',
            'bgrpname': 'Census Blockgroup Name, formatted with Tract, County, and State',
            'cbsa': 'CBSA (Metropolitan/Micropolitan Area) Code',
            'cbsaname': 'CBSA (Metropolitan/Micropolitan Area) Name',
            'zcta': 'ZIP Code Tabulation Area (ZCTA) Code',
            'zctaname': 'ZCTA Name',
            'stplc': 'Nationally Unique Place Code, (FIPS State + FIPS Place)',
            'stplcname': 'Place Name',
            'ctycsub': 'Nationally Unique County Subdivision Code, (FIPS State + FIPS County + FIPS County Subdivision)',
            'ctycsubname': 'County Subdivision Name',
            'stcd116': 'Nationally Unique 116th Congressional District Code, (FIPS State + 2-digit District Number',
            'stcd116name': '116th Congressional District Name',
            'stsldl': 'Nationally Unique State Legislative District, Lower Chamber, (FIPS State + 3-digit District Number)',
            'stsldlname': 'State Legislative District Chamber, Lower Chamber'
        }
    },
    'datasets': {
        'od': 'Origin-destination job flows',
        'rac': 'Residential area characteristics',
        'wac': 'Workplace area characteristics',
    },
    'job_types': {
        'JT00': 'All',
        'JT01': 'All Primary',
        'JT02': 'All Private',
        'JT03': 'Private Primary',
        'JT04': 'All Federal',
        'JT05': 'All Federal Primary',
    },
    'parts': {
        'main': 'Contains jobs with both workplace and residence in the state',
        'aux': 'Contains jobs with the workplace in the state and the residence outside of the state'
    },
    'segments': {
        'S000': 'Total number of jobs',
        'SA01': 'Number of jobs of workers age 29 or younger',
        'SA02': 'Number of jobs for workers age 30 to 54',
        'SA03': 'Number of jobs for workers age 55 or older',
        'SE01': 'Number of jobs with earnings $1250/month or less',
        'SE02': 'Number of jobs with earnings $1251/month to $3333/month',
        'SE03': 'Number of jobs with earnings greater than $3333/month',
        'SI01': 'Number of jobs in Goods Producing industry sectors',
        'SI02': 'Number of jobs in Trade, Transportation, and Utilities industry sectors',
        'SI03': 'Number of jobs in All Other Services industry sectors',
    },
    'variables': {
        'C000': 'Total number of jobs',
        'CA01': 'Number of jobs for workers age 29 or younger',
        'CA02': 'Number of jobs for workers age 30 to 54',
        'CA03': 'Number of jobs for workers age 55 or older',
        'CE01': 'Number of jobs with earnings $1250/month or less',
        'CE02': 'Number of jobs with earnings $1251/month to $3333/month',
        'CE03': 'Number of jobs with earnings greater than $3333/month',
        'CNS01': 'Number of jobs in NAICS sector 11 (Agriculture, Forestry, Fishing and Hunting)',
        'CNS02': 'Number of jobs in NAICS sector 21 (Mining, Quarrying, and Oil and Gas Extraction)',
        'CNS03': 'Number of jobs in NAICS sector 22 (Utilities)',
        'CNS04': 'Number of jobs in NAICS sector 23 (Construction)',
        'CNS05': 'Number of jobs in NAICS sector 31-33 (Manufacturing)',
        'CNS06': 'Number of jobs in NAICS sector 42 (Wholesale Trade)',
        'CNS07': 'Number of jobs in NAICS sector 44-45 (Retail Trade)',
        'CNS08': 'Number of jobs in NAICS sector 48-49 (Transportation and Warehousing)',
        'CNS09': 'Number of jobs in NAICS sector 51 (Information)',
        'CNS10': 'Number of jobs in NAICS sector 52 (Finance and Insurance)',
        'CNS11': 'Number of jobs in NAICS sector 53 (Real Estate and Rental and Leasing)',
        'CNS12': 'Number of jobs in NAICS sector 54 (Professional, Scientific, and Technical Services)',
        'CNS13': 'Number of jobs in NAICS sector 55 (Management of Companies and Enterprises)',
        'CNS14': 'Number of jobs in NAICS sector 56 (Administrative and Support and Waste Management and Remediation Services)',
        'CNS15': 'Number of jobs in NAICS sector 61 (Educational Services)',
        'CNS16': 'Number of jobs in NAICS sector 62 (Health Care and Social Assistance)',
        'CNS17': 'Number of jobs in NAICS sector 71 (Arts, Entertainment, and Recreation)',
        'CNS18': 'Number of jobs in NAICS sector 72 (Accommodation and Food Services)',
        'CNS19': 'Number of jobs in NAICS sector 81 (Other Services [except Public Administration])',
        'CNS20': 'Number of jobs in NAICS sector 92 (Public Administration)',
        'CR01': 'Number of jobs for workers with Race: White, Alone',
        'CR02': 'Number of jobs for workers with Race: Black or African American Alone',
        'CR03': 'Number of jobs for workers with Race: American Indian or Alaska Native Alone',
        'CR04': 'Number of jobs for workers with Race: Asian Alone',
        'CR05': 'Number of jobs for workers with Race: Native Hawaiian or Other Pacific Islander Alone',
        'CR07': 'Number of jobs for workers with Race: Two or More Race Groups',
        'CT01': 'Number of jobs for workers with Ethnicity: Not Hispanic or Latino',
        'CT02': 'Number of jobs for workers with Ethnicity: Hispanic or Latino',
        'CD01': 'Number of jobs for workers with Educational Attainment: Less than high school',
        'CD02': 'Number of jobs for workers with Educational Attainment: High school or equivalent, no college',
        'CD03': 'Number of jobs for workers with Educational Attainment: Some college or Associate degree',
        'CD04': 'Number of jobs for workers with Educational Attainment: Bachelors degree or advanced degree',
        'CS01': 'Number of jobs for workers with Sex: Male',
        'CS02': 'Number of jobs for workers with Sex: Female',
    }
}}})

P.params.get('LEHD.LODES.variables.CNS14')

In [ ]:
def download_lehd_lodes(dataset='od', job_type='JT00', state='in', part='main',
                        segment='S000', year=2019, lodes_version=7,
                        aggregate_bg=False, save=True):
    assert lodes_version in [6, 7]
    assert dataset in ['od', 'rac', 'wac']
    assert part in ['main', 'aux']
    assert job_type in [f'JT{i:02}' for i in range(6)]
    assert segment in 'S000 SA01 SA02 SA03 SE01 SE02 SE03 SI01 SI02 SI03'.split()
    root = f'https://lehd.ces.census.gov/data/lodes'
    fname = {'od': f'{state}_od_{part}_{job_type}_{year}',
            'rac': f'{state}_rac_{segment}_{job_type}_{year}',
            'wac': f'{state}_wac_{segment}_{job_type}_{year}'}[dataset]
    url = f'{root}/LODES{lodes_version}/{state}/{dataset}/{fname}.csv.gz'
    df = pd.read_csv(url).drop(columns='createdate', errors='ignore')
    idx_cols = {'od': ['h_geocode', 'w_geocode'],
                'rac': ['h_geocode'], 'wac': ['w_geocode']}[dataset]
    df = df.astype({col: str for col in idx_cols})
    if aggregate_bg:
        for col in idx_cols:
            df[col] = df[col].str.slice(0, 12)
        df = df.groupby(idx_cols).sum().reset_index()
    if save:
        fpath = U.mkdir(P.data / f'lehd_lodes/{dataset}') / f'{fname}.csv'
        df.to_csv(fpath, index=False)
    return df

rac = download_lehd_lodes(dataset='rac', aggregate_bg=True).disp()

wac = download_lehd_lodes(dataset='wac', aggregate_bg=True).disp()

%time od = download_lehd_lodes(dataset='od', aggregate_bg=True).disp() # t=30s

In [ ]:
rac = pd.read_csv(glob(str(P.data) + '/lehd_lodes/rac/*')[0]).disp()

4,811 rows x 42 cols; Memory: 1.5 MiB

,h_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,CNS03,CNS04,CNS05,CNS06,CNS07,CNS08,CNS09,CNS10,CNS11,CNS12,CNS13,CNS14,CNS15,CNS16,CNS17,CNS18,CNS19,CNS20,CR01,CR02,CR03,CR04,CR05,CR07,CT01,CT02,CD01,CD02,CD03,CD04,CS01,CS02
,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>
0,180010301001,493,114,233,146,101,164,228,5,0,4,17,130,24,56,15,5,16,3,14,3,17,34,91,4,26,13,16,489,1,0,1,0,2,475,18,44,133,117,85,264,229

In [ ]:
wac = pd.read_csv(glob(str(P.data) + '/lehd_lodes/wac/*')[0]).disp()

4,783 rows x 52 cols; Memory: 1.9 MiB

,w_geocode,C000,CA01,CA02,CA03,CE01,CE02,CE03,CNS01,CNS02,CNS03,CNS04,CNS05,CNS06,CNS07,CNS08,CNS09,CNS10,CNS11,CNS12,CNS13,CNS14,CNS15,CNS16,CNS17,CNS18,CNS19,CNS20,CR01,CR02,CR03,CR04,CR05,CR07,CT01,CT02,CD01,CD02,CD03,CD04,CS01,CS02,CFA01,CFA02,CFA03,CFA04,CFA05,CFS01,CFS02,CFS03,CFS04,CFS05
,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>
0,180010301001,102,17,40,45,15,48,39,1,0,0,26,62,0,0,6,0,0,0,4,0,0,0,0,0,0,3,0,99,2,1,0,0,0,96,6,11,36,28,10,76,26,0,0,0,0,0,0,0,0,0,0

In [ ]:
od = pd.read_csv(glob(str(P.data) + '/lehd_lodes/od/*')[0]).disp()

1,036,602 rows x 12 cols; Memory: 94.9 MiB

,h_geocode,w_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03
,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>,<int64>
0,180010301001,180010301001,5,0,1,4,1,4,0,3,1,1

In [ ]:
geom = pd.read_csv(P.data / 'lehd_lodes/in_xwalk.csv.gz').disp()

/tmp/ipykernel_266193/3682522803.py:1: DtypeWarning: Columns (28,29,37) have mixed types. Specify dtype option on import or set low_memory=False.
  geom = pd.read_csv(P.data / 'lehd_lodes/in_xwalk.csv.gz').disp()

267,071 rows x 43 cols; Memory: 330.3 MiB

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,cbsa,cbsaname,zcta,zctaname,stplc,stplcname,ctycsub,ctycsubname,stcd116,stcd116name,stsldl,stsldlname,stsldu,stslduname,stschool,stschoolname,stsecon,stseconname,trib,tribname,tsub,tsubname,stanrc,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
,<int64>,<int64>,<object>,<object>,<int64>,<object>,<int64>,<object>,<int64>,<object>,<int64>,<object>,<int64>,<float64>,<int64>,<object>,<int64>,<object>,<int64>,<object>,<int64>,<object>,<int64>,<object>,<int64>,<object>,<int64>,<float64>,<object>,<object>,<int64>,<float64>,<int64>,<float64>,<int64>,<float64>,<float64>,<object>,<int64>,<object>,<float64>,<float64>,<int64>
0,180010301001049,18,IN,Indiana,18001,"Adams County, IN",18001030100,"301 (Adams, IN)",180010301001,"1 (Tract 301, Adams, IN)",19540,"Decatur, IN",46733,46733.0,9999999,NaN,1800161884,"Preble township (Adams, IN)",1803,IN-03,18079,"State House District 79, IN",18019,"State Senate District 19, IN",1807680,"North Adams Community Schools, IN",9999999,NaN,99999,NaN,9999999,NaN,9999999,NaN,99999,NaN,NaN,NaN,18180003,Economic Growth Region 3,40.867454,-85.0133,20211018

# Crosswalk

In [23]:
xwalk = pd.read_csv('../LEHD/in_xwalk.csv.gz')
xwalk.view()

/Volumes/data/Apps/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (28,29,37) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Shape: (267071, 43), Memory: 3e+02 MB

,tabblk2010,st,stusps,stname,cty,ctyname,trct,trctname,bgrp,bgrpname,...,stanrcname,necta,nectaname,mil,milname,stwib,stwibname,blklatdd,blklondd,createdate
0,180010301001049,18,IN,Indiana,18001,"Adams County, IN",18001030100,"301 (Adams, IN)",180010301001,"1 (Tract 301, Adams, IN)",...,NaN,99999,NaN,NaN,NaN,18180003,Economic Growth Region 3,40.867454,-85.013300,20211018
1,180010301001022,18,IN,Indiana,18001,"Adams County, IN",18001030100,"301 (Adams, IN)",180010301001,"1 (Tract 301, Adams, IN)",...,NaN,99999,NaN,NaN,NaN,18180003,Economic Growth Region 3,40.912124,-85.064384,20211018
2,180010301001044,18,IN,Indiana,18001,"Adams County, IN",18001030100,"301 (Adams, IN)",180010301001,"1 (Tract 301, Adams, IN)",...,NaN,99999,NaN,NaN,NaN,18180003,Economic Growth Region 3,40.868008,-85.026306,20211018

In [24]:
xwalk.columns

Index(['tabblk2010', 'st', 'stusps', 'stname', 'cty', 'ctyname', 'trct',
       'trctname', 'bgrp', 'bgrpname', 'cbsa', 'cbsaname', 'zcta', 'zctaname',
       'stplc', 'stplcname', 'ctycsub', 'ctycsubname', 'stcd116',
       'stcd116name', 'stsldl', 'stsldlname', 'stsldu', 'stslduname',
       'stschool', 'stschoolname', 'stsecon', 'stseconname', 'trib',
       'tribname', 'tsub', 'tsubname', 'stanrc', 'stanrcname', 'necta',
       'nectaname', 'mil', 'milname', 'stwib', 'stwibname', 'blklatdd',
       'blklondd', 'createdate'],
      dtype='object')

In [25]:
xwalk.iloc[0]

tabblk2010                        180010301001049
st                                             18
stusps                                         IN
stname                                    Indiana
cty                                         18001
ctyname                          Adams County, IN
trct                                  18001030100
trctname                          301 (Adams, IN)
bgrp                                 180010301001
bgrpname                 1 (Tract 301, Adams, IN)
cbsa                                        19540
cbsaname                              Decatur, IN
zcta                                        46733
zctaname                                  46733.0
stplc                                     9999999
stplcname                                     NaN
ctycsub                                1800161884
ctycsubname           Preble township (Adams, IN)
stcd116                                      1803
stcd116name                                 IN-03
stsldl                                      18079
stsldlname            State House District 79, IN
stsldu                                      18019
stslduname           State Senate District 19, IN
stschool                                  1807680
stschoolname    North Adams Community Schools, IN
stsecon                                   9999999
stseconname                                   NaN
trib                                        99999
tribname                                      NaN
tsub                                      9999999
tsubname                                      NaN
stanrc                                    9999999
stanrcname                                    NaN
necta                                       99999
nectaname                                     NaN
mil                                           NaN
milname                                       NaN
stwib                                    18180003
stwibname                Economic Growth Region 3
blklatdd                                40.867454
blklondd                                 -85.0133
createdate                               20211018
Name: 0, dtype: object

In [13]:
j2j = pd.read_csv('../LEHD/data/LEHD_j2j_in_all.csv')
j2j.shape

/Volumes/data/Apps/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(121118, 88)

In [14]:
j2j.head()

,Unnamed: 0,periodicity,seasonadj,geo_level,geography,ind_level,industry,ownercode,sex,agegrp,...,sMainBS,sMainES,sNEHireSEarn_Dest,sENSepSEarn_Orig,sJobStaySEarn_Orig,sJobStaySEarn_Dest,sEESepSEarn_Orig,sEEHireSEarn_Dest,sAQSepSEarn_Orig,sAQHireSEarn_Dest
0,0,Q,U,S,18,A,00,A00,0,A00,...,-1,1,-1,-1,-1,-1,-1,5,-1,-1
1,1,Q,U,S,18,A,00,A00,0,A00,...,1,1,1,1,1,1,1,1,1,-1
2,2,Q,U,S,18,A,00,A00,0,A00,...,1,1,1,1,1,1,1,1,1,1
3,3,Q,U,S,18,A,00,A00,0,A00,...,1,1,1,1,1,1,1,1,1,1
4,4,Q,U,S,18,A,00,A00,0,A00,...,1,1,1,1,1,1,1,1,1,1

In [19]:
for k, v in j2j.iloc[0].to_dict().items(): print(k, v, sep='\t\t')

Unnamed: 0		0
periodicity		Q
seasonadj		U
geo_level		S
geography		18
ind_level		A
industry		00
ownercode		A00
sex		0
agegrp		A00
race		A0
ethnicity		A0
education		E0
firmage		0
firmsize		0
year		2001
quarter		2
agg_level		1025
MHire		353021
MSep		310294
MJobStart		369346
MJobEnd		336233
EEHire		110273
EESep		111730
AQHire		nan
AQSep		54313.0
J2JHire		nan
J2JSep		166043.0
NEHire		223155
ENSep		188205
NEPersist		nan
ENPersist		133892.0
NEFullQ		nan
ENFullQ		115173.0
MainB		2613435
MainE		2645340
EESepS		nan
EEHireS		nan
AQSepS		nan
AQHireS		nan
NEPersistS		nan
ENPersistS		nan
JobStayS		nan
MainBS		nan
MainES		2297041.0
NEHireSEarn_Dest		nan
ENSepSEarn_Orig		nan
JobStaySEarn_Orig		nan
JobStaySEarn_Dest		nan
EESepSEarn_Orig		nan
EEHireSEarn_Dest		nan
AQSepSEarn_Orig		nan
AQHireSEarn_Dest		nan
sMHire		1
sMSep		1
sMJobStart		1
sMJobEnd		1
sEEHire		1
sEESep		1
sAQHire		-1
sAQSep		1
sJ2JHire		-1
sJ2JSep		1
sNEHire		1
sENSep		1
sNEPersist		-1
sENPersist		1
sNEFullQ		-1
sENFullQ		1
sMainB		1
sMainE		1
sEESepS		-1
sEEHireS		-1
sAQSepS		-1
sAQHireS		-1
sNEPersistS		-1
sENPersistS		-1
sJobStayS		-1
sMainBS		-1
sMainES		1
sNEHireSEarn_Dest		-1
sENSepSEarn_Orig		-1
sJobStaySEarn_Orig		-1
sJobStaySEarn_Dest		-1
sEESepSEarn_Orig		-1
sEEHireSEarn_Dest		5
sAQSepSEarn_Orig		-1
sAQHireSEarn_Dest		-1

# Job-to-Job (J2J)

In [26]:
j2j = pd.read_csv('../LEHD/j2j/LEHD_j2j_in_all.csv'); j2j.view()

/Volumes/data/Apps/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3165: DtypeWarning: Columns (6,13,14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

Shape: (121118, 88), Memory: 1e+02 MB

,Unnamed: 0,periodicity,seasonadj,geo_level,geography,ind_level,industry,ownercode,sex,agegrp,...,sMainBS,sMainES,sNEHireSEarn_Dest,sENSepSEarn_Orig,sJobStaySEarn_Orig,sJobStaySEarn_Dest,sEESepSEarn_Orig,sEEHireSEarn_Dest,sAQSepSEarn_Orig,sAQHireSEarn_Dest
0,0,Q,U,S,18,A,00,A00,0,A00,...,-1,1,-1,-1,-1,-1,-1,5,-1,-1
1,1,Q,U,S,18,A,00,A00,0,A00,...,1,1,1,1,1,1,1,1,1,-1
2,2,Q,U,S,18,A,00,A00,0,A00,...,1,1,1,1,1,1,1,1,1,1

# LODES
Origin-destination data

[Technical documentation](https://lehd.ces.census.gov/data/lodes/LODES7/LODESTechDoc7.5.pdf)

In [31]:
lodes = pd.read_csv('../LEHD/lodes/in_od_main_JT05_2019.csv.gz')
lodes.view()

Shape: (9790, 13), Memory: 1e+00 MB

,w_geocode,h_geocode,S000,SA01,SA02,SA03,SE01,SE02,SE03,SI01,SI02,SI03,createdate
0,180010302003000,180010301002016,1,0,1,0,0,0,1,0,0,1,20211018
1,180010307002032,181790404002022,1,1,0,0,0,0,1,0,0,1,20211018
2,180030008002000,180030108132020,1,0,0,1,0,0,1,0,0,1,20211018

In [36]:
lodes = lodes.rename(columns=dict(
    w_geocode = 'work_fips',
    h_geocode = 'home_fips',
    S000 = 'tot_jobs', # total no. of jobs
    SA01 = 'njobs_age_low', # age: ≤29
    SA02 = 'njobs_age_med', # age: 30-54
    SA03 = 'njobs_age_high', # age: ≥55
    SE01 = 'njobs_income_low', # monthly earnings: ≤$1250
    SE02 = 'njobs_income_med', # "": $1251-3333
    SE03 = 'njobs_income_high', # "": >$3333
    SI01 = 'njobs_indus_goods', # industry: goods producing
    SI02 = 'njobs_indus_util', # industry: trade, transport, utilities
    SI03 = 'njobs_indus_serv', # industry: all other services
))

In [37]:
lodes

,work_fips,home_fips,tot_jobs,njobs_age_low,njobs_age_med,njobs_age_high,njobs_income_low,njobs_income_med,njobs_income_high,njobs_indus_goods,njobs_indus_util,njobs_indus_serv,createdate
0,180010302003000,180010301002016,1,0,1,0,0,0,1,0,0,1,20211018
1,180010307002032,181790404002022,1,1,0,0,0,0,1,0,0,1,20211018
2,180030008002000,180030108132020,1,0,0,1,0,0,1,0,0,1,20211018
3,180030013001019,180030005001026,1,0,1,0,0,1,0,0,0,1,20211018
4,180030013001019,180030102023006,1,0,0,1,0,1,0,0,0,1,20211018
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9785,181830503004039,181830505003038,1,1,0,0,0,0,1,0,0,1,20211018
9786,181830504004008,181830501002019,1,0,1,0,0,0,1,0,0,1,20211018
9787,181830505002001,180030103071008,1,0,1,0,0,1,0,0,0,1,20211018
9788,181830505002001,181830504001046,1,0,1,0,0,0,1,0,0,1,20211018
9789,181830505002001,181830507001022,1,0,1,0,0,0,1,0,0,1,20211018

In [40]:
lodes.work_fips.nunique()

484